@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



/*
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", serif;
  font-weight: 100;
  font-style: normal;
}

*/
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
 }
 
body{
  overflow-x: hidden;
}

 .section-info{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: rgb(148, 148, 148);
  font-size: clamp(10px, 1vw, 14px);/*---------------*/
  position: fixed;
  z-index: 1000;
  background-color: white;
  padding-bottom: 1rem;
}
.section-info .figure{
  width: 100%;
  height: 2vh;
  background: rgb(0,31,4);
  background: linear-gradient(254deg, rgba(0,31,4,1) 0%, rgba(116,183,43,1) 45%, rgba(196,210,0,1) 100%);
}
.section-info .container{
  width: 95%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: .7rem;
}
.section-info .container-info{
  display: flex;
}
.section-info .container h1,
.container-attention h1{
  font-weight: 400;
  font-size: clamp(9px, 1vw, 16px);/*---------------*/
}
.section-info .container-info i,
.section-info .container-attention i{
  padding-right: 1rem;
}
.section-info .container-attention{
  display: flex;
}
.section-info .container-icon i{
  margin: .5rem;
  color: rgb(78, 78, 78);
  background: white;
  padding: .4rem .5rem;
  border-radius: 100px;
  transition: all 500ms ease;
}
.container-icon i:hover{
  color: white;
  background: #1370b5;
  padding: .4rem .5rem;
  border-radius: 100px;

}

/*--------HEADER--------*/
header{
  width: 100%;
  display: flex;
  justify-content: center;
}
header .container-header{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: clamp(8px, 1.3vw, 14px);/*---------------*/
  text-transform: uppercase;
  background: rgb(243, 243, 243);
  border: 1.5px solid rgb(192, 192, 192);
  border-radius: 70px;
  padding: .5rem 2rem;

}
header .img-logo{
  width: 200px;
  height: 50px;
}
header .links{
  display: flex ;
  text-decoration: none;
  list-style: none;
}
.links a{
  padding-right: 1rem;
  text-decoration: none;
  color: rgb(56, 56, 56);
}

.container-header .button-header{
  background: none;
  background: #FFF;
  color: #1266a7;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 1rem 2.1rem;
  border-radius: 7px;
  border: none;
  font-family: "Roboto", sans-serif;
  transition: all 500ms ease;
  box-shadow: 5px  5px 20px rgba(54, 54, 54, 0.4);
}
.container-header .button-header:hover{
  background: white;
  color: #1266a7;
  box-shadow: 5px  5px 20px rgba(54, 54, 54, 0.4);
}
.container-header .links .active{
  color: #1266a7;
}
.container-header .links .active:hover{
  color: rgb(56, 56, 56);
}
.container-header .links a:hover{
  color: #1266a7;
}
/*-------   HEADER RESPONSIVE   --------*/
header .top-nav{
  display: none;
}

/*-----     navbar efecto       ------*/
.navbar{
  transition: all .5s;
}
.navbar.hide{
  transform: translateY(-100%);
  transition: all .5s;
  opacity: 0;
}
/*  */
.show{
  transform: scale(0.8);
  opacity: 0;
  transition: all 1.2 ease-out;
}
.mostrar{
  transform: scale(1);
  opacity: 1;
}

/**/

/*----      progressbar.js      -----*/



/*-------      SECTION-MAIN      ----*/
.section-main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4rem 0px;  
  }
  
  .section-main {
    width: 100%;
    min-height: 65vh;
    background-image: url('../imagenes/banner-productos4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
  }
  .section-main .container-title{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .section-main .container-title h1{
      color: white;
      font-size: 3rem;
      font-family: "Kanit", sans-serif;
  }
  .container-title .title a{
      color: white;
      font-family: "Montserrat", serif;
      text-decoration: none;
      font-size: 1.2rem;
      padding: 1rem;
  }
  .container-title .title .bi{
      font-size: 1.7rem;
  }



/*------      SECTION BANNER CARD    -------*/
.section-card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  z-index: 100;
  padding: 2rem 0;
}
.section-card .card-enlaces{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-card .card-enlaces h2{
  margin-left: 4rem;
  font-size: clamp(20px, 3vw, 30px);/*---------------*/
}
.section-card .card-enlaces .button-back{
  font-size: clamp(15px, 3vw, 20px);/*---------------*/
  padding: .3rem 2rem;
  border-radius: 10px;
  background: #1266a7;
}
.section-card .card-enlaces .button-back:hover{
  background: #FFF;
  color: #1266a7;
  box-shadow: 5px  5px 20px rgba(54, 54, 54, 0.4);
}

.section-card .button-back{
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Kanit", sans-serif;
  background: #1266a7;
  color: #FFF;
  
}
.section-card .container-details{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 0px;
}


.container-details .container-img{
    flex: 1 1 30rem;
}
.container-details .container-img img{
    width: 100%;
    height: auto;
}
.section-card .container-details .container-description{
    flex: 1 1 15rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.section-card .container-details .container-description h2{
    font-family: "Kanit", sans-serif;
    font-size: clamp(25px, 3vw, 60px);/*---------------*/
    color: #444;
    padding-bottom: .5rem;
}
.section-card .container-details .container-description h3{
    font-size: 1.7rem;
    color: #222;
    font-family: "Montserrat", serif;
    font-weight: 600;
    padding: 1rem 0px;
}
.section-card .container-details .container-description a{

    padding: .7rem 2rem;
    font-family: "Kanit", sans-serif;
    font-size: clamp(5px, 3vw, 25px);/*---------------*/
    background: #21c201;
    color: white;
    text-decoration: none;
    margin: 1.2rem 0px;
    text-align: center;
    border-radius: 10px;
}
.section-card .container-details .container-description a:hover{
    background: #2bff01;
}
.section-card .container-details .container-description p{
    font-family: "Montserrat", serif;
    font-size: clamp(14px, 1.2vw, 16px);/*---------------*/
    color: #636363;
    line-height: 1.9rem;
}
.section-card h2{
    padding: 1.5rem 0px;
      font-size: 2rem;
      color: #444;
      font-family: "Kanit", sans-serif;
      font-weight: 500;
      text-transform: capitalize;
      padding-bottom: 1rem;
    }

/*------    seccion details   -------*/
.section-card .bomba-1{
  display: none;
}
.seccion-card .bomba-1:target {
  display: block; /* Muestra solo la sección específica */
}




/*------    SECTION US    --------*/
.section-us{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background: rgb(247, 247, 247);
}
.section-us .container-us{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 85%;
  padding: 2rem 1rem;
  background: #1370b5;

}
.section-us .container-us .us-text{
  flex: 1 1 25rem;
}
.section-us .container-us .us-img{
  flex: 1 1 25rem;
  width: 100%;
  height: 300px;
}
.section-us .container-us figure img{
  width: 100%;
  height: 100%;
}
.section-us .container-us .us-text h2{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: white;
  padding-bottom: 1rem;
}
.section-us .container-us .us-text p{
  color: white;
  font-family: 2.1rem;
  line-height: 1.3rem;
  font-family: "Montserrat", serif;
  margin-bottom: 3rem;
}
.section-us .container-us .us-text a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: .5rem 2rem;
  font-family: "Kanit", sans-serif;
  background: #222;
  border-radius: 10px;
}








/*-------   SECTION CONTACT   ---------*/
.section-email{
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.section-email h2{
  font-size: clamp(16px, 2vw, 36px);
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #333;
}
.section-email a{
  color: #1266a7;
  font-size: clamp(16px, 2vw, 36px);
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  padding-left: 1rem;
}
.section-email a:hover{
  color: #636363;
}
/*------    SECTION CONTACT ICONS   ------- */
.section-icons{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




/*------    SECTION IMG CUSTOMERS   ------*/



/*------    FOOTER    -----*/
footer{
  width: 100%;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #182858;
}
footer .container-footer{
  width: 90%;
  padding: 1.5rem 1rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
footer .image-footer{
  width: 80px;
  height: 80px;
}
footer .logo-footer{
  width: 270px;
  padding-bottom: 2rem;
}
footer .container-footer-one{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: left;
}
footer .container-footer-one p{
  font-size: .9rem;
  font-family: "Montserrat", serif;
  line-height: 1.7rem;
  color: white;
}
footer .container-footer-one .footer-icons{
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}
.container-footer-one .footer-icons i{
  border: 1px solid white;
  padding: .5rem;
  border-radius: 100px;
  font-size: 1rem;
}
.container-footer-one .footer-icons i:hover{
  background: white;
  color: #1370b5;
  transition: all 500ms ease;
}
footer .container-footer-twoo{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: left;
}

.container-footer-twoo h1,
.container-footer-three h1,
.contact-icons h1 {
  font-size: 1.3rem;
  color: white;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  padding-bottom: 2rem;
}
.container-footer-twoo .section-icons-footer{
  display: flex;
  flex-direction: column;
  padding: 0px 2rem;
}
.section-icons-footer i{
  color: white;
  padding: .5rem;
}
.section-icons-footer a{
  text-decoration: none;
  color: white;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  padding: 1rem;
  font-size: 1.1rem;
}
.section-icons-footer .links-footer{
  padding: .5rem 0px;
}
footer .container-footer-three{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: start;
  align-items: left;
}
.container-footer-three .img-footer{
  display: flex;
  flex-direction: row;
  padding: 1rem 0px;
}
.container-footer-three .img-footer .footer-info{
  padding-left: 1rem;
}
.container-footer-three .img-footer .footer-info a{
  color: white;
  font-size: 1rem;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  text-decoration: none;
}
.container-footer-three .img-footer .footer-info h2{
  color: white;
  font-size: 1rem;
  font-family: "Kanit", sans-serif;
  font-weight: 200;
}
footer .contact-icons{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: start;
  align-items: left;
}
footer .contact-icons .icons-networks{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
footer .contact-icons .icons-networks i{
  color: white;
  font-size: 2rem;
  padding: 0px 1rem;
}
.icons-networks .networks {
  display: flex;
  flex-direction: column;
  padding: .7rem 0px;
}
.icons-networks .networks h2{
  color: white;
  font-size: 1rem;
  font-family: "Kanit", sans-serif;
  font-weight: 200;
}
.icons-networks .networks a{
  color: white;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
}
.icons-networks .networks h3{
  font-size: 1.1rem;
  font-family: "Kanit", sans-serif;
  color: white;
  font-weight: 400;
}

/*------    FOOTER-COPY   -------*/
.section-copy{
  width: 100%;
  background: #1266a7;
  padding: .5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section-copy a{
  font-size: 1rem;
  color: white;
  font-family: "Kanit", sans-serif;
  text-decoration: none;
  padding-left: 3rem;
}

 .section-copy #ir_arriba_boton button{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: .7rem .7rem;
  border-radius: 50% 50% 0 0;
  border: none;
  box-shadow: 5px  5px 20px rgba(54, 54, 54, 0.4);
  outline: none;
  transition: all .6s;
  z-index: 40;
}
#ir_arriba_boton .ocultar{
  opacity: 0;
  visibility: hidden;
}
#ir_arriba_boton .mostrar{
  opacity: 1;
  visibility: visible;
}
.section-copy  i{
  font-size: 1rem;
}

.section-copy button:hover{
  cursor: pointer;
  transform: scale(1.1);
}


/*--------HEADER--------*/
@media(max-width: 851px){
  .section-info .container{
    width: 100%;
  }
}
/*----*/
@media (max-width:810px){
  .section-info .container{
    display: none;
  }
  header .container-header{
    display: none;
  }
}
@media (max-width: 1100px){
  header{
    padding: .5rem;
  }
  header .container-header{
    width: 100%;
  }
}




/*------    HEADER-RESPONSIVE   --------*/
@media(max-width: 937px){
  header .container-header{
    display: none;
  }
  header .top-nav{
    display: flex;
  }
}

@import url(https://fonts.googleapis.com/css?family=Raleway);
.top-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgb(243, 243, 243);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  padding: 1em 1.5rem;
}

.top-nav .container-img-header .img-logo{
  width: 200px;
  height: 50px;
}
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: clamp(12px, 1.3vw, 16px);/*---------------*/
  text-transform: uppercase;
  background: rgb(243, 243, 243);

}
.menu a{
  text-decoration: none;
  color: rgb(66, 66, 66);
}
.menu > li {
  margin: 0 .5rem;
  overflow: hidden;
}
.menu .menu-icons{
  display: none;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #1266a7;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 769px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 115px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .menu .menu-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .menu li a{
    font-size: 1rem;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 2.7rem 0px;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu li a{
    color: rgb(175, 175, 175);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}


/*--------    HEADER-RESPONSIVE     --------*/


/*------    section us    -----*/
@media (max-width: 550px){
  .section-us .container-us{
    width: 93%;
  }
}
/*-----     banner department     -----*/
@media(max-width: 863px){
  .section-banner .container-title{
    width: 90%;
    
  }
}
/*------     section contact    --------*/
@media (max-width:450px){
  .section-card .card-enlaces h2{
    margin-left: 1rem;
    
  }
}
@media(max-width:839px){
  .section-card .content-text .content-box figure{
    text-align: center;
}

}



/*-----     SECTION-EMAIL    -------*/
@media (max-width: 896px){
  .section-email{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
}

/*--------  FOOTER  -------*/
@media (max-width: 1029px){
  footer .container-footer{
    width: 100%;
    grid-template-columns: repeat(3, 3fr);
  }
}

@media (max-width: 831px){
  footer .container-footer{
    grid-template-columns: repeat(2, 4fr);
  }
}

@media (max-width: 831px){
  footer .container-footer{
    grid-template-columns: repeat(2, 4fr);
  }
}

@media (max-width: 575px){
  footer .container-footer{
    grid-template-columns: repeat(1, 4fr);
  }
}


/*------   FOOTER RESPONSIVE COPY   -----*/
@media (max-width: 415px){
  .section-copy{
    padding: .5rem 0;
    text-align: center;
  }
}
/*-----     SECTION-EMAIL    -------*/
@media (max-width: 896px){
  .section-email{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0px;
  }
}